<?xml version='1.0' encoding='utf-8'?>
<robot name="satr arm102_description-LD">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0066489 -6.1244E-05 0.014595" rpy="0 0 0" />
      <mass value="0.17532" />
      <inertia ixx="0.00028106" ixy="-7.522E-10" ixz="-1.7559E-06" iyy="0.00012868" iyz="4.9741E-08" izz="0.00038729" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="-0.00087968 -3.4464E-05 0.037748" rpy="0 0 0" />
      <mass value="0.03694" />
      <inertia ixx="1.0701E-05" ixy="1.5173E-13" ixz="3.8224E-07" iyy="6.9077E-06" iyz="3.3668E-09" izz="1.2113E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <origin xyz="0 0 0.03135" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="link1" />
    <axis xyz="0 0 -1" />
    <limit lower="-2.27" upper="2.27" effort="100" velocity="1" />
  </joint>
  <link name="link2">
    <inertial>
      <origin xyz="0.065777 6.3715E-05 1.8697E-05" rpy="0 0 0" />
      <mass value="0.067452" />
      <inertia ixx="2.4706E-05" ixy="-1.4238E-06" ixz="-2.8914E-09" iyy="7.1265E-05" iyz="5.0149E-11" izz="5.3685E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link2.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint2" type="revolute">
    <origin xyz="0 0 0.061025" rpy="-1.5708 0 3.1416" />
    <parent link="link1" />
    <child link="link2" />
    <axis xyz="0 0 -1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="1" />
  </joint>
  <link name="link3">
    <inertial>
      <origin xyz="0.021966 -0.055886 1.7527E-05" rpy="0 0 0" />
      <mass value="0.062483" />
      <inertia ixx="6.0787E-05" ixy="6.0746E-06" ixz="1.7224E-10" iyy="2.412E-05" iyz="-3.855E-09" izz="4.7941E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link3.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint3" type="revolute">
    <origin xyz="0.12162 -0.002 0" rpy="0 0 -1.5708" />
    <parent link="link2" />
    <child link="link3" />
    <axis xyz="0 0 -1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="1" />
  </joint>
  <link name="link4">
    <inertial>
      <origin xyz="0.0233834674648726 -0.000699844641775166 -5.55127523138999E-06" rpy="0 0 0" />
      <mass value="0.0309593625995609" />
      <inertia ixx="1.21518177163507E-05" ixy="2.15834745607597E-09" ixz="4.85577563764522E-09" iyy="1.48259937533172E-05" iyz="1.97662841925093E-09" izz="6.86725271793483E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link4.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint4" type="revolute">
    <origin xyz="0.024219 -0.10865 0" rpy="0 0 -1.5708" />
    <parent link="link3" />
    <child link="link4" />
    <axis xyz="0 0 -1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="1" />
  </joint>
  <link name="link5">
    <inertial>
      <origin xyz="0.023965 6.5116E-07 0.012981" rpy="0 0 0" />
      <mass value="0.043759" />
      <inertia ixx="8.7053E-06" ixy="-4.0057E-12" ixz="2.0161E-07" iyy="1.3624E-05" iyz="8.5167E-11" izz="1.2266E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link5.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint5" type="revolute">
    <origin xyz="0.035 -0.00203 0" rpy="-1.5708 0 0" />
    <parent link="link4" />
    <child link="link5" />
    <axis xyz="0 0 -1" />
    <limit lower="-2.27" upper="2.27" effort="100" velocity="1" />
  </joint>
  <link name="link6">
    <inertial>
      <origin xyz="-0.00296247096680713 0.0439473646791376 -0.039699656067242" rpy="0 0 0" />
      <mass value="0.123187701413067" />
      <inertia ixx="0.000186206201026983" ixy="-1.9319291521371E-06" ixz="1.46631100177797E-06" iyy="3.44961326727544E-05" iyz="2.7158300264969E-05" izz="0.000182925132370783" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link6.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint6" type="revolute">
    <origin xyz="0.1186 0 0.005875" rpy="-1.5708 0 -1.5708" />
    <parent link="link5" />
    <child link="link6" />
    <axis xyz="0 0 -1" />
    <limit lower="-2.27" upper="2.27" effort="100" velocity="1" />
  </joint>
  <link name="link7_left">
    <inertial>
      <origin xyz="0.00592248705454542 0.0392079282733965 -0.00134943636007287" rpy="0 0 0" />
      <mass value="0.0115458690855196" />
      <inertia ixx="7.05271769780606E-06" ixy="-6.19566371681288E-07" ixz="2.24015831300729E-08" iyy="9.32070648108314E-07" iyz="3.09799594455424E-07" izz="7.70335019807904E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link7_left.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link7_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint7_left" type="revolute">
    <origin xyz="0.0032934 -0.0014419 -0.0031" rpy="0 0 0" />
    <parent link="link6" />
    <child link="link7_left" />
    <axis xyz="0 0 -1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="1" />
  </joint>
  <link name="link7_right">
    <inertial>
      <origin xyz="-0.00217423302874253 0.0403740245301992 -0.00259877882515686" rpy="0 0 0" />
      <mass value="0.0110204411453406" />
      <inertia ixx="7.13209181813597E-06" ixy="7.10011247872347E-07" ixz="-5.9582573339264E-08" iyy="9.78258656597562E-07" iyz="4.55421454930675E-07" izz="7.73114874885643E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link7_right.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/link7_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint7_right" type="revolute">
    <origin xyz="-0.016371 -0.0022579 -0.002" rpy="0 0 0" />
    <parent link="link6" />
    <child link="link7_right" />
    <axis xyz="0 0 -1" />
    <limit lower="-1.57" upper="1.57" effort="100" velocity="1" />
    <mimic joint="joint7_left" multiplier="-1" offset="0" />
  </joint>
</robot>